body {
        
        margin: 0;
        font-family: sans-serif;
}
header {
        width: 100%;
        background: #406fee;
}
#btn-menu {
        display: none;
}
header label { 
        border-right: 1px solid #fff;
        display: none;
        width: 30px;
        height: 30px;
        padding: 10px
}
header label:hover {
        cursor: pointer;        
        background: rgba(0, 0, 0, 0.3)
}
.menu {
        z-index: 4;
        position: relative;   
}
.menu ul {
        margin: 0;
        list-style: none;
        padding: 0;
        display: flex;    
}
.menu li {
        z-index: 3;
        border-right: 1px solid #fff; 
}
.menu li {
        text-align: center;
        flex-grow: 1;
}
.menu li:hover {
        background: rgba(0, 0, 0, 0.3);
}
.menu li a {
        display: block;
        padding: 15px 20px;
        color: #fff;
        text-decoration: none;
}

@media (max-width:1120px) {
        header label{
        display: block;
}   
.menu { 
         position: absolute;
         background: #406fee;
         width: 35%;
         margin-left: -35%;
         transition: all 0.5s;                            
}
.menu ul {
         flex-direction: column;
    }
.menu li {
         border-top: 1px solid #fff;
}
#btn-menu:checked ~ .menu {
         margin: 0;
    }
}



html, body {
        height: 100%;
}


.content {
        position: relative;
        min-height: 100%;
}

.content {
    padding-bottom: 50px;
}

.article {
    text-align: justify;
    text-indent: 25px;
    margin-top: 4%;
    margin-right: 10%;
    margin-left: 10%; 
    font-size: 17px;
}

#color{
        color: blue;
}

.section {   
        float: center;   
        width: 30%;
        border-radius: 30px;
        margin: 15px;
        padding: 15px;
        background-color: #ffffff;
        color: black;
        border: 10px solid #2F3841; 
        margin-left: 33%;
        margin-top: 5%;
        transform: rotate(0deg);
        text-align: center;
        font-size: 22px;
        font-weight: 700;
}
.section:hover {
        transform: rotate(-360deg);
        transition: 1.7s all;
}





.footer {                  
        float: left;    
        width: 100%;
        padding: 10px;
        background-color: #fafafa;
        border-top: 2px solid silver; 
        max-height: 50px;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        left: 0;
}

.footer #social {
        float: left;
        width: 50%; 
}

.footer #social img {
        width: 130px;
        float: left;
}

.footer #rights {
        float: right;
        width: 50%; 
        text-align: right;
}

